*{ 
    margin:0;
    padding:0; 
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
    font-style:1rem;
 
}
body{ 
    height:100vh;
    width:100vw;
background-color:#caf0f8;

}
/* navbar */
.navbar{ 
  width:100%;
  height:13vh;
  background:black;
  z-index:1000;
  position:fixed;
  top:0;
display:flex;
align-items: center;
justify-content: space-between;

}
.logo{ 
    width:14vh;
    height:13vh;
    background-image:url("logo.png");
    background-size:cover;
}
.navheading{
    color:white;
    font-size:3rem;
    font-weight: bolder;
}
.logo2{ 
    width:14vh;
    height:13vh;
    background-image:url("logo2.png");
    background-size:cover;
}
/* body */
.container{ 
    margin-top:25vh;
    margin-left:2vh;
    display:flex;
    justify-content:center;;
    align-items:center;
    gap:2vw;
    
}
.djimg{ 
    background-image:url("dj.png");
    background-size:cover;
    border-radius:2vw;
    height:70vh;
    width:63vw;
}
.heading{ 
    font-size:3.5rem;
    color:#03045a;
    font-weight:bold;
    text-align:center;
}

button{ 
    font-size:1.5rem;
    border-radius:1vw;
    padding:2%;
    cursor:pointer;
    transition:all 0.3s normal;
    border:none;
    background-color: #a8e6cf;

}
button:hover{ 
background-color:rgba(240, 90, 115, 0.653); 
transform:scale(1.15);
border:solid rgb(19, 19, 110);

}
button:disabled{ 
    cursor:not-allowed; 
    background-color:rgba(128, 128, 128, 0.606);
  color:#03045e;

}
table button{ 
    padding:2%;
    font-size:75%;
    color:white;
    border-radius:0.5vw;

}
table button:hover{ 
    transform:none; 
    border:none;
    background-color: #caf0f8;
 
}

a{ 
    color:black;
    text-decoration:none; 

}
table,th,tr,td{ 
    border:2px solid #03045e;

}
table{ 
  
margin:auto;
    background-image:linear-gradient(#fff6c7);
   color:#03045e;
   text-align:center;
   margin-bottom:5%;
}
td,th{ 
   font-size:1.5rem;
   padding-left:0.1%; 
   padding-right:0.1%;
}
.APIcontent{ 
    margin-top:10%;
    display:flex; 
    flex-direction:column;
    align-items:center; 
    justify-content: center;
    gap:5vh;
}
/* add.html */
form{ 
    display:grid;
    grid-template-columns: 60% 90%;
    font-size:1.5rem;
    color:#03045e;
    gap:2%;

}
.form-content{ 
    margin:40vh;
    margin-top:20vh;
    height:70vh; 
    width:50vw; 
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    align-items: center;
    gap:6%;
    border:0.5vh solid #03045e;
    border-radius:5%;
    background-image:linear-gradient(#FFFAF1)

}

input{ 
    font-size:1.5rem;
    display:inline-block; 
    width:50%;
}

.footer{ 
    background-color: black;
    color:white;
    height:30%; 
    width:100%;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    gap:2%;
    padding-right:50%;
}
.djfooter{ 
    height:7vh;
    width:30vh;
    background-image: url(footer.png);
    background-size:cover;
}
label{ 
    display:inline-block;
    height:max-content;
    width:70%;
}
.addbtn{ 
    margin-top:10%;
    margin-left:70%;
}
.inst{ 
    font-size:2rem;
    color:#03045a;
}
.collegetd{ 
    width:12%;
}
.nametd{ 
    width:18%; 
}
.yeartd{ 
    width:12%;
}
.phonesaptd{ 
    width:13%;
}
.modifytd{ 
    width:7%;
}
.upbtn{ 
background-color:green;
}
.delbtn{ 
background-color:rgb(166, 6, 6);
}