*{ 
    margin:0;
    padding:0; 
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
    font-size:1rem;
}

body{ 
    height:100vh;
    width:100vw;
    background-color:#BDE8F5; 
}

/* Navbar */
.navbar{ 
    width:100%;
    height:13vh;
    background:#0F2854; 
    z-index:1000;
    position:fixed;
    top:0;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.logo, .logo2{ 
    width:14vh;
    height:13vh;
    background-size:cover;
}

.navheading{
    color:#FFFFFF; 
    font-size:3rem;
    font-weight:bolder;
}

/* Body */
.container{ 
    margin-top:25vh;
    margin-left:2vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2vw;
}

.djimg{ 
    background-image:url("dj.png");
    background-size:cover;
    border-radius:2vw;
    height:70vh;
    width:63vw;
}

.heading{ 
    font-size:3.5rem;
    color:#0F2854; 
    font-weight:bold;
    text-align:center;
}

/* Buttons */
button{ 
    font-size:1.5rem;
    border-radius:1vw;
    padding:2%;
    cursor:pointer;
    transition:all 0.3s normal;
    border:none;
    background-color:#4988C4; 
    color:#FFFFFF; 
}

button:hover{ 
    background-color:#0F2854; 
    transform:scale(1.15);
    border:solid #4988C4;
}

button:disabled{ 
    cursor:not-allowed; 
    background-color:#BDE8F5;
    color:#0F2854;
}

table button{ 
    padding:2%;
    font-size:75%;
    color:white;
    border-radius:0.5vw;
    background-color:#4988C4;
}

table button:hover{ 
    transform:none; 
    border:none;
    background-color:#BDE8F5;
    color:#0F2854;
}


a{ 
    color:#0F2854; 
    text-decoration:none; 
}

/* Table */
table, th, tr, td{ 
    border:2px solid #0F2854; 
}

table{ 
    margin:auto;
    background-image:linear-gradient(#BDE8F5, #4988C4); 
    color:#0F2854;
    text-align:center;
    margin-bottom:5%;
}

td, th{ 
   font-size:1.5rem;
   padding-left:0.1%; 
   padding-right:0.1%;
}


.APIcontent{ 
    margin-top:10%;
    display:flex; 
    flex-direction:column;
    align-items:center; 
    justify-content:center;
    gap:5vh;
}


form{ 
    display:grid;
    grid-template-columns: 60% 90%;
    font-size:1.5rem;
    color:#0F2854;
    gap:2%;
}

.form-content{ 
    margin:40vh;
    margin-top:20vh;
    height:70vh; 
    width:50vw; 
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    align-items:center;
    gap:6%;
    border:0.5vh solid #0F2854; 
    border-radius:5%;
    background-image:linear-gradient(#BDE8F5, #FFFFFF);
}

input{ 
    font-size:1.5rem;
    display:inline-block; 
    width:50%;
}

/* Footer */
.footer{ 
    background-color:#0F2854; 
    color:#FFFFFF;
    height:30%; 
    width:100%;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    gap:2%;
    padding-right:50%;
}

.djfooter{ 
    height:7vh;
    width:30vh;
    background-image:url(footer.png);
    background-size:cover;
}

/* Labels */
label{ 
    display:inline-block;
    height:max-content;
    width:70%;
}

/* Add button */
.addbtn{ 
    margin-top:10%;
    margin-left:70%;
}

.inst{ 
    font-size:2rem;
    color:#0F2854;
}

/* Table column widths */
.collegetd{ width:12%; }
.nametd{ width:18%; }
.yeartd{ width:12%; }
.phonesaptd{ width:13%; }
.modifytd{ width:7%; }

/* Action buttons */
.upbtn{ background-color:green; }
.delbtn{ background-color:rgb(166, 6, 6); }
